{% extends 'schedule/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
   {% block content %}
   </br>
   <center><h1>Calendar</h1></center>
   <hr>
   <div class="clearfix">
      <a class="btn btn-outline-primary left" href="{% url 'schedule:month_calendar' %}?{{ prev_month }}"> Previous Month </a>
      <a class="btn btn-outline-primary right" href="{% url 'schedule:create_event' %}"> Create Event </a>
      <a class="btn btn-outline-primary right" href="{% url 'schedule:month_calendar' %}?{{ next_month }}"> Next Month </a>
  </div>  
    <h1>{{ calendar }}</h1>
   {% endblock %}
</body>
</html>

