{% extends 'schedule/base.html' %}
<!DOCTYPE html>
{% block content %}
</br>
<center><h1>Dostępność twoich pracwoników</h1></center>

<hr>
<div class="week-calendar" style="display: flex; justify-content: space-around;">

    {% for date, availabilities in week_dates.items %}
    <div>
        <p>{{ date|date:"D" }}</p>
        <p>{{ date|date:"d M Y" }}</p>
        {% for availability in availabilities %}
            <li>{{ availability.user.first_name }} {{ availability.user.last_name }} {{ availability.availability_start|date:"H:i" }} - {{ availability.availability_end|date:"H:i" }}</li>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<form method="get">
    {{ form.as_p }}
    <button type="submit">Dodaj dostępność</button>
</form>

{% if selected_day_availabilities %}
    <h2>Dostępności dla {{ form.cleaned_data.day }}</h2>
    <ul>
    {% for availability in selected_day_availabilities %}
        <li>{{ availability.user.username }}: od {{ availability.availability_start }} do {{ availability.availability_end }}</li>
    {% endfor %}
    </ul>
{% endif %}


{% endblock %}