<form method='POST'>
  {% csrf_token %}

  <div>
    <label for="id_inv_code">Twój kod do logowania</label>
    {{ form.inv_code }}
  </div>
  <div>
    <label for="id_first_name">Imię</label>
    {{ form.first_name }}
  </div>
  <div>
    <label for="id_last_name">Nazwisko</label>
    {{ form.last_name }}
  </div>
  <div>
    <label for="id_username">Login</label>
    {{ form.username }}
  </div>
  <div>
    <label for="id_email">email</label>
    {{ form.email }}
  </div>
  <div>
    <label for="id_password1">Hasło</label>
    {{ form.password1}}
  </div>
  <div>
    <label for="id_password2">Powtórz Hasło</label>
    {{ form.password2 }}
  </div>
</form>